html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

body {
    background: #f1f2f4;
    background-image: url('/img/base4.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(12px);
    overflow: hidden;
}

.overlay {
    background: black;
    width: 100%;
    height: 100vh;
    opacity: .4;
    position: relative;
}

.main {
    position: absolute;
    top: 10vh;
    left: 10vw;
}

.card {
    background: #fcf5f3;
    border: none;
}

.navbar {
   background: none !important;
   position: absolute;
   z-index: 3;
}

.nav {
    display: flex;
    position: absolute;
    z-index: 3;
}

.active-nav {
    color: #ffffff !important;
    border-bottom: solid 3px #ffffff;
}

#login {
    border-radius: none !important;
    border: 2px solid #492415;
    color: #492415;
}

#login:hover {
    background: #492415;
    color: #ffffff;
}

#signup {
    border-radius: none !important;
    border: 2px solid #492415;
    color: #492415;
}

#signup:hover {
    background: #492415;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .main {
        left: 0;
    }
}
